/*
 * Shifticons (shifticons.com)
 * Order #1789
*/

@font-face {
  font-family: "Shifticons";
  src: url(../fonts/shifticons.eot); /* IE9 Compat Modes */
  src: url(../fonts/shifticonsd41d.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
       url(../fonts/shifticons.woff) format("woff"), /* Modern Browsers */
       url(../fonts/shifticons.ttf)  format("truetype"), /* Safari, Android, iOS */
       url(../fonts/shifticons.svg#Shifticons) format("svg"); /* Legacy iOS */
}

/* Shifticon styles */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: Shifticons;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: inherit;
  padding-right: .25em;
  -webkit-font-smoothing: antialiased;
}

/* Order-specific styles */
.icon-tote:before { content: ""; }
.icon-dinosaur:before { content: ""; }
.icon-iphone:before { content: ""; }
.icon-landline:before { content: ""; }
.icon-sketchbook:before { content: ""; }
.icon-umbrella:before { content: ""; }
.icon-desktop:before { content: ""; }
.icon-more:before { content: ""; }
.icon-arrow1-down:before { content: ""; }
.icon-eyeglasses:before { content: ""; }
.icon-chat:before { content: ""; }
.icon-resolution-low:before { content: ""; }
.icon-ball:before { content: ""; }
.icon-twitter:before { content: ""; }


/* IE8 hack */
@media \0screen\,screen\9 { body:hover{} }